<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RTX4090Activity" />
        <activity android:name=".I914900KFActivity" />
        <activity android:name=".Ryzen9950XActivity" />
        <activity android:name=".RTX4070Activity" />
        <activity android:name=".I512600KFActivity" />
        <activity android:name=".SamsungOdysseyG6Activity" />
        <activity android:name=".ProductoActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".VentasActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/DialogTheme">
        </activity>
    </application>

</manifest>


